* {
    box-sizing: border-box;
}
.body {
    background-color: darkgray;
}
#logo a img {
    width: 50%;
    margin-left: 25%;
}
.container {
    background-color: darkgray;
}
#menu {
    margin: auto;
    text-align: center;
    padding: 10px;
}
#menu li {
    display: inline;
    margin: 10px;
    padding: 5px 5px
}
#menu a {
    text-transform: uppercase;
    font-size: 1.3em;
    color: whitesmoke;
}
.carousel-inner {
    max-width: 1200px;
    max-height: 900px;
}
.carousel-inner img {
    width: 100%;
}
#date img {
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    background-color: lightgray;
}
.header {
    text-align: center;
    background-color: darkgray;
    padding: 10px
}
.button {
    font-family: cursive;
    background-color: deepskyblue;
    color: black;
    padding: 5px;
}
.thumbnail {
    background-color: lightgray;
}
#featured img {
    width: 100%;
}
.content header {
    text-align: center;
}
#copyright {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
    background-color: beige;
}
#copyright p {
    letter-spacing: 1px;
    font-size: 0.90em;
}
#copyright a {
    text-decoration: none;
}
#copyright img {
    width: 30%;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    border: : 2px solid red;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
    background-color: lightgray;
    height: 600px;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
